@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --text-heading-color--: white;
  --text-information-color--: #BEBEBE;
  --text-footer-color--: black;
  --img-reviews--:#00ccff;
  --background--: rgba(41, 55, 77, 1);
  --project--: wheat;
}

  
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}  

body {
  background-color: rgba(41, 55, 77, 1);
}





.header {
  background-color: var(--text-footer-color--);

}

.header__wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto; 
}

.header__link {
  display: flex;
}

.github__img {
  width: 70px;
  height: 70px;
  margin-top: 23px;
  margin-left: 20px;
}

.logo__img {
  width: 277px;
  height: 117px;
  margin-left: 308px;
}

.header__navigation {
  margin-top: 31px;
  margin-left: 154px;
  padding-bottom: 36px;
}

.navigation__list {
  display: flex;
  list-style: none;
  margin: 0 ;
  padding: 0;
  align-items: center;
}



.navigation__item {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-right: 63px;
}

.navigation__item a{
    transition: all.4s;
}

.navigation__item a:hover{
    opacity: 1;
    color: #00ccff;
    transition: all.4s;
}

.navigation__link {
  text-decoration: none;
  color: var(--text-heading-color--);
}











.callback {
  background-image: url("../img/image 14 .png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.callback__wrapper {
  padding-bottom: 174px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;  
}

.callback__heading {
  color: var(--text-heading-color--);
  font-weight: 700;
  max-width: 214px;
  max-height: 44px;
  font-size: 45px;
  line-height: 54px;
  margin: 0;
  padding-top: 29px;
  padding-left: 257px;
}

.callback__text {
  color: var(--text-information-color--);
  max-width: 897px;
  max-height: 83px;
  font-size: 25px;
  line-height: 30px;
  padding-top: 58px;
  padding-left: 255px;
}

.subscribe {
  margin-top: 51px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  max-width: 700px;

  filter: drop-shadow(0px 40px 80px rgba(255, 169, 169, .25));
  color: var(--text-information-color--);
}

.subscribe__label {
  margin: 0 auto;
}

.subscribe__input {
  font-size: 20px;
  line-height: 160%;
  color: #9B9DAC;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 80px;
  padding-right: 332px;
  border-radius: 40px;
  border: 0;
}

.subscribe__button { 
  background-color: var(--background--);
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  border: 0;
  border: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 33px;
  padding-right: 34px;
  border-radius: 40px;
  margin-top: 8px;
  max-height: 58px;
  margin-left: -174px;
}












.resume__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto; 
    display: flex;
}

.resume__heading {
    font-weight: 700;
    text-align: center;
    font-size: 35px;
    line-height: 42px;
    color: var(--text-heading-color--);
}

.resume__img {
    width: 317px;
    height: 372px;
    margin-top: 30px;
    margin-left: 152px;
    border-radius: 60px;
    box-shadow: 30px 30px 100px 6px rgb(1 1 1 / 75%);
}

.resume__information {
    margin-left: 71px;
    margin-top: 77px;
}

.information__name {
    color: var(--text-heading-color--);
    font-size: 28px;
    line-height: 36px;
    max-width: 204px;
}

.information__info {
    font-size: 20px;
    line-height: 30px;
    color: var(--text-information-color--);
    margin-top: 15px;
}

.information__languages {
    display: flex;
}

.languages__text {
    font-size: 20px;
    line-height: 30px;
    color: var(--text-information-color--);
    margin-top: 15px;
    margin-left: 73px;
}

.information__link {
    display: flex;
}

.img__messenger {
    width: 50px;
    height: 50px;
}

.link__img {
    margin-top: 20px;
}

.right__img {
    margin-left: 20px;
}















.my_project__wrapper {
    padding-bottom: 50px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto; 
}

.my_project__heading {
    font-weight: 700;
    text-align: center;
    font-size: 35px;
    line-height: 42px;
    color: var(--text-heading-color--);
}

.my_project__information {
    display: flex;
    margin-top: 50px;
    margin-left: 157px;
}


.information__text {
    background-color: var(--text-heading-color--);
    border-radius: 42px;
    padding-left: 38px;
    padding-top: 29px;
    padding-bottom: 16px;
}


.information__project {
    margin-left: 10px;
}

.project__text   {
    background-color: var(--text-heading-color--);
    border-radius: 42px;
    padding-left: 21px;
    padding-top: 29px;
    margin-top: 41px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.img__foto_bot {
    width: 100px;
    height: 150;
    margin-right: 104px;
    border-radius: 20px;
}


.img__tgbot {
    width: 70px;
    height: 70px;
    margin-top: 16px;

}



.text__description {
    color: var(--text-footer-color--);
    font-size: 20px;
    line-height: 24px;
    font-size: 20px;
    max-width: 528px;
    line-height: 24px;
}

.first__img {
    width: 221px;
}


.first__text {
    max-width: 281px;
}

.text__heading {
    color: var(--text-footer-color--);
    font-size: 28px;
    line-height: 36px;
    max-width: 500px;
}

@keyframes render{
    0% {
        background-color: var(--text-heading-color--);
    }
    50% {
        background-color: var(--background--);
    }
    100% {
        background-color: var(--text-heading-color--);
    }
}

.project__text:hover {
    transition: 2s ease-in-out;
    animation: render 3s ease-in-out infinite;
}

.information__text:hover {
    transition: 2s ease-in-out;
    animation: render 3s ease-in-out infinite;
}








.reviews__wrapper {
    height: 433px;
    width: 1100px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;     
}

.reviews__heading {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: var(--text-heading-color--);

}



.reviews__comments {
    display: flex;
}

.comments__filling {
    background-color: var(--text-heading-color--);
    border-radius: 60px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 179px;
    text-align: center;
}

.filling__text {
    max-width: 250px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.avatar {
    height: 70px;
    width: 70px;
}

.filling__stars {
    margin-top: 24px; 
}

.stars__img {
    height: 40px;
    width: 40px;
}







.footer {
    background-color: var(--text-footer-color--);
}

.footer__wrapper {
    width: 1100px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto; 
}

.footer__info {
    padding-top: 60px;
    padding-bottom: 50px;
    margin-left: 269px;
}

.info__name {
    color: var(--text-heading-color--);
    font-weight: 400;
    font-size: 30px;
    margin-left: 25px;
}

.info__form {
    margin-top: 20px;
    margin-left: 50px;
}


.input__text {
    color: var(--text-footer-color--);
    border-radius: 20px;
    padding-left: 5px;
}

.form__button {
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 200px;
    margin-top: 10px;
    color: var(--text-footer-color--);
}

.info__link {
    margin-top: 20px;
}

.footer__img {
    height: 70px;
    width: 70px;
    margin-left: 57px;
}
  